[core]
	excludesfile = ~/.gitignore_global

[user]
    # Force user config to avoid commits with invalid author
    useConfigOnly = true

[alias]
	ll = log --oneline
	recent = --no-pager log --oneline -20

# git configs based on directory structure
[includeIf "gitdir:~/code/personal/oss/"]
  path = ~/.gitconfig-personal-oss

# local config for the current dev machine
[include]
  path = ~/.gitconfig-custom
